$background-color: #FFF;
$text-color: #1D1D1D;

$primary-color: #00965E;
$primary-color-hover: #000;
$contrast-color: #179C97;

$success-color-primary: #68B500;
$success-color-secondary: #F3FFE6;
$error-color-primary: #DE0C00;
$error-color-secondary: #FFE6E7;
